$primary: #0094fb;
$secondary: #707070;
$tertiary: #007f84;
$info: #0058e9;
$success: #278200;
$warning: #f5a600;
$error: #d51923;
$light: #707070;
$body-text: #303030;
$body-bg: #ffffff;
$heading-text: #303030;
$subtle-text: #707070;
$disabled-text: #a6a6a6;
$component-text: #303030;
$component-bg: #ffffff;
$base-text: #ffffff;
$base-bg: #4a687e;
$hovered-text: #ffffff;
$hovered-bg: #a6a6a6;
$selected-text: #000000;
$selected-bg: #cbe9ff;
$kendo-button-text: #303030;
$kendo-button-bg: #f5f5f5;
$kendo-text-button-hover-opacity: 10%;
$kendo-text-button-active-opacity: 6%;
$kendo-text-button-selected-opacity: 800%;
$link-text: #0094fb;
$link-hover-text: #4a687e;
$kendo-input-clear-value-opacity: 80%;
$series-a: #1274ac;
$series-b: #ffe162;
$series-c: #4cd180;
$series-d: #0074e6;
$series-e: #9b4fe6;
$series-f: #ff80ac;
$scheduler-event-bg: #0094fc;
$scheduler-event-selected-bg: #4a687e;
$pager-number-text: #ffffff;
$pager-number-hover-bg: #a6a6a6;
$pager-number-hover-text: #ffffff;
$pager-number-selected-bg: #cbe9ff;
$pager-number-selected-text: #000000;

@import '~@progress/kendo-theme-default/scss/typography/_index.scss';
@import '~@progress/kendo-theme-default/scss/utils/_index.scss';
@import '~@progress/kendo-theme-default/scss/grid/_index.scss';
@import '~@progress/kendo-theme-default/scss/typography/_index.scss';
@import '~@progress/kendo-theme-default/scss/utils/_index.scss';
@import '~@progress/kendo-theme-default/scss/loader/_index.scss';
