/* td padding */
.k-grid .k-grid-content td {
  padding: 4.2px 7.2px;
}
/* Links inside table styling */
.k-grid .k-grid-content td a {
  color: #0094fb;
}
/* Sort icons color updated to white */
.k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-i-sort-asc-small,
.k-grid-header .k-i-sort-desc-small,
.k-grid-header .k-sort-order {
  color: #fff;
}

/* Area above vertical scrollbar made to look similar as column headers */
.k-grid-header {
  background: linear-gradient(0deg, #f6f6f6 56%, #4a687e 47%);
}
.k-grid-header .k-header {
  border-left-color: #fff;
}
.k-grid .k-grid-header-wrap {
  border-right-color: #fff;
}
.k-grid-header-wrap tr:nth-child(2) th:last-child {
  border-right: solid 1px rgba(0, 0, 0, 0.08);
}
.k-grid-header-wrap {
  border-right-color: transparent;
}

/* Removing Sorted Columns background color */
.k-grid-header .k-grid-filter:hover,
.k-widget.k-grid col.k-sorted {
  background-color: transparent;
}

/* All Kendo Grid content (including headers, pager, filters) should use this font with monospaced numbers */
.k-grid {
  font-family: 'Nunito Sans', 'Work Sans', sans-serif;
  font-size: 12px;
}

/* To right align the Number type columns data */
.k-grid .right-align {
  text-align: right;
}

/* Custom background color to filter row */
.k-filter-row {
  background: #f6f6f6;
}

/* Updating Column Menu icon with Filter Icon when the column is filtered*/
.k-header.column-filtered
  .k-grid-column-menu.k-grid-filter
  .k-icon.k-i-more-vertical:before {
  content: '\e129';
}

/* Table Action buttons(Download, Clear All) styles */
.sb-kendo-table-buttons .v-btn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 6px 0;
  color: #6f787e;
  color: var(--color-gray2);
  font-size: 18px;
  text-align: right;
}
.sb-kendo-table-buttons .v-icon {
  font-size: inherit;
  line-height: inherit;
}

/* Unsetting the last column's width to avoid empty space at right side of table when resizing */
.k-grid table > colgroup > col:last-child {
  width: 100%;
}
.k-grid table {
  min-width: 100%;
}

/* To make the table occupy entire width when the columns width is reduced less than the entire width */
.k-grid.resized-noscroll table {
  min-width: 100% !important;
}

/* To hide the Clear Filter button in column filter cell when the column is not filtered */
.k-filter-row
  .k-filtercell-wrapper
  .k-dropdown-operator
  + .k-button[title='Clear'].k-disabled {
  display: none;
}

/* Hiding Up/Down arrow buttons in Numeric type column filter input */
.k-grid-header .k-filtercell .k-numerictextbox .k-input-spinner {
  display: none;
}

/* Custom Filter cell styles */
.filter-options {
  padding: 6px 0;
  min-width: 30px;
  max-width: 30px;
  justify-content: center;
}
.filter-options .filter-operator {
  line-height: 1;
}
/* Hiding down arrow of Filter options dropdown */
.filter-options .filter-operator + .k-icon-button {
  display: none;
}
/* Setting minimum width for Filter Option dropdown */
.k-animation-container {
  min-width: 200px;
}

/* Removing some maring to fit Pager items count info */
.k-pager-info {
  margin-left: 0;
}
.k-pager-sizes {
  margin: 0 10px;
}

/* Column Toggle styles */
.filter-columns-container {
  background: #f9f9f9;
  padding-top: 6px;
}
.filter-columns-container .v-btn,
.filter-columns-container .v-btn.outline:hover {
  box-shadow: none !important;
  font-size: 12px;
  border-radius: 4px;
  text-transform: initial;
  height: 30px;
  margin-top: 0;
  border: 1px solid #cbe9ff;
  background: #cbe9ff !important;
  color: #00538d;
}

.filter-columns-container .v-btn.outline {
  background-color: transparent !important;
  color: #6f787e;
  border-color: #6f787e;
}

/* CSS for sticky Header */
.k-grid-header,
.k-grid-header .k-grid-header-sticky.k-sorted,
.k-master-row .k-grid-content-sticky {
  border-bottom: none;
  border-color: rgba(0, 0, 0, 0.08);
}
.k-master-row.error .k-grid-content-sticky {
  background-color: #ef5350;
}
.k-master-row.warning .k-grid-content-sticky {
  background-color: #ff9800;
}
.k-grid-header .k-header.k-grid-header-sticky {
  border-color: #ffffff;
}
.k-grid-header .k-filter-row .k-grid-header-sticky {
  background-color: #9bb2c3;
  border-right-color: #9bb2c3;
}
.k-grid-header .k-grid-header-sticky .k-grid-column-menu .k-icon:before {
  content: '\e113';
}

/* Overriding Header negative margin */

.k-header > .k-cell-inner {
  margin: unset;
}
.k-header > .k-cell-inner > .k-link {
  padding: unset;
}

/* Increase width for resize area */
.k-grid-column-menu {
  right: 10px !important;
}
.k-column-resizer {
  width: 10px !important;
  height: 35px !important;
}
/* Applying max width for kendo grid tooltip */
.grid_tooltip {
  max-width: calc(100vw - 100px);
  word-break: break-all;
  display: block;
}
/* Hiding the kendo spinner loader */
#KendoTable .k-grid-container .k-loader-canvas {
  display: none;
}
/* Fix for jumping issue for kendo client tables */
.client-side-table-wrapper {
  padding-top: 7px;
  position: relative;
}
.client-side-table-wrapper .v-progress-linear {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.k-checkbox {
  border-color: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
